.header{
    height: 3rem;
    text-align: center;
}

*{
    padding: 0;
    margin: 0;
    font-family: 'Raleway';
    box-sizing: border-box;
}

  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: #000000;
    text-align: center;
    padding-top:16px  ;
    padding-right:8px  ;
    text-decoration: none;
    font-size: 1rem;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {

    color: black;
    border-bottom: 1px solid skyblue;
  }

 
  /* Add a color to the active/current link */
  .topnav a.active {

    color: blue;
    border-bottom: 1px solid blue;
  }

    /* Style the links inside the navigation bar */
    .topnav .name {
        float: left;
        color: #000000;
        text-align: center;
        text-decoration: none;
        font-size: 17px;
      }


.picture{
        background-image: url("img here");
        height: 21.9rem;
        background-position: center;
        background-size: cover;
       
        width: 100%;
        margin-bottom: 35px;
    }


    .column {
        float: left;
        width: 20%;
      }
      
      .main-column {
        float: left;
        width: 50%;
      }
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }

.titleAndPrice {
    display: inline;
}
.propTitle {
    display: inline;
    padding-left: 10px;
    font-size: 1.5rem;
}

.propTitle:hover{
    text-decoration: underline;
}




.propPrice {
    display: inline;
    padding-left: 10px;
    font-size: 1.5rem;
    float: right;
}



.locAndDays {
   font-size: 0.8rem;
   color: gray;
   padding-left: 18px;
}
.location {
    display: inline;
    padding-left: 10px;

}


.days {
    display: inline;
    padding-left: 10px;

    float: right;
}



.typeAndTime {
    font-size: 0.8rem;
    color: gray;
    padding-top: 25px;

 }
 .forSaleTag {
     display: inline;
     background-color: green;
     color: white;
     padding-left: 10px; 
     padding-right: 10px; 
     padding-top: 5px; 
     padding-bottom: 5px; 
     border-radius: 20px;   
 }
 
 
 .time {
     display: inline;
     padding-left: 10px;
 
     float: right;
 }

 .typeAndTime .days{
    color: red;
 }


 .specs {
    padding-top: 50px;
 }

 
 .details{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid gray;
 }

 h5{
    font-size: 1.375rem;
    text-decoration: underline;
 }
 
.description {
    padding-top: 3px;
}

.keyFacts {
    padding-top: 30px;
}

.factsTable {
    width: 100%;
    margin-top: 10px;
    font-family: "Lexend",sans-serif;

}

.factsTable tr{
    height: 2rem;
}

.factsTable tr .tdKey{
    font-weight: bolder;
}

.factsTable tr .tdValue{
    text-align: right;
    padding-right: 20px;
}

.cautionDetails{
    text-align: center;
    color: gray;
    font-size: 0.7rem;
}


.factsTableContainer {
    overflow-x: auto;
}

.inputCard {
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin: 30px;

    box-shadow: 1px 5px 8px 5px rgba(0, 0, 0, 0.3);
    text-align: left;
    border-radius: 8px;
}

.inputCard h4,p {
    margin-bottom: 10px;
    padding-left: 5px;
}


.inputSideBar{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: white;
    border: 1px solid rgb(171, 170, 170);
    color: black;
    text-align: left;

}

.inputSideBarComments{
   
    width: 100%;
  
    height: 3rem;

}

.apply{
    margin: 5px;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
    background-color: #29aae3;
    border: 1px solid #29aae3;
    color: white;
    text-align: center;
}


 .apply:hover{
    margin: 5px;
    padding: 10px;
    margin-bottom: 30px;
    background-color: white;
    border: 1px solid #29aae3;
    color: #29aae3;
    text-align: center;
    transition: 1s;
}

.comment{
    margin-top: 10px;
    margin-bottom: 10px;

    color: gray;
    text-align: left;
    padding-left: 5px;

}


.inputCheckBox{
    margin-bottom: 20px;
    margin-left: 10px;
}







.estimates{
    margin-top: 30px;
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid gray;
 }

 .estimates .description h5{
    font-size: 1.375rem;
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
    
 }

 .list{
    margin: 30px;
    
 }

 .ls-item {
    padding: 10px;
 }

 
.description {
    padding-top: 3px;
}

.keyFacts {
    padding-top: 30px;
}




.footer {

    padding-top: 8rem;
    margin-top: 100px;
    height: 15rem;
    background-color: #29aae3;
    border-top-left-radius: 40rem;
}

.footer .column {
    text-align: left;
    margin-left: 10rem;
    width: 30%;
    float: left;
    font-size: 0.8rem;
    color: white;
 
}

.footer .main-column {
  
    width: 30%;
    float:left;
    color: white;
    text-align: center;
    font-size: 0.8rem;

}


.footer .column-last {
   text-align: right;
   color: white;
   display: inline-block;
   width: 25%;
 
 
}


 /* The snackbar - position it at the bottom and in the middle of the screen */
 #snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px;
    margin-left: -125px;
    background-color: #29aae3; 
    color: #fff;
    text-align: center;
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    
    left: 50%; 
    bottom: 30px; 
  }
  
  /* Show the snackbar when clicking on a button (class added with JavaScript) */
  #snackbar.show {
    visibility: visible; /* Show the snackbar */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  /* Animations to fade the snackbar in and out */
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  } 
