
  /* Style the button and place it in the middle of the container/image */
  .card .btnLeft {
    width: 1rem;
    position: relative;
    top: 40%;
    opacity: 0;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    cursor: pointer;
    border-radius: 100%;
    z-index: 10;
  }
  
 
  .card:hover .btnLeft {
    width: 1rem;
    position: relative;
    top: 40%;
    float: left;
    opacity: 100;
    background-color: #555;
    color: white;
    font-size: 16px;
   

    cursor: pointer;
    border-radius: 100%;
  }

  .card:hover .btnLeft:hover {
    background-color: black;
  } 




  .card .btnRight {
    width: 1rem;
    position: relative;
    top: 40%;
    opacity: 0;
    float: right;
    background-color: #555;
    color: white;
    font-size: 16px;
    padding-left: 15px; 
    padding-right: 15px; 
    padding-top: 15px; 
    padding-bottom: 15px; 
    cursor: pointer;
    border-radius: 100%;
  }
  
 
  .card:hover .btnRight {
    width: 1rem;
    position: relative;
    top: 40%;
    opacity: 100;
    background-color: #555;
    color: white;
    font-size: 16px;
   
    cursor: pointer;
    border-radius: 100%;
  }

  .card:hover .btnRight:hover {
    background-color: black;
  } 



  /* Style the button and place it in the middle of the container/image */
  .card .forSaleTag {
    height: 1rem;
    width: 3rem;
    position: relative;
    top: 55%;
    left: 5%;
    background-color: green;
    font-size: 0.5rem;
    color: white;
     padding-left: 10px; 
     padding-right: 10px; 
     padding-top: 10px; 
     padding-bottom: 5px; 

     border-radius: 20px; 
  }
  

  .card:hover .forSaleTag {
    width: 3rem;
    position: fixed;
    top: 40%;
    left: 5%;
    background-color: green;
    font-size: 0.5rem;
    color: white;
    padding-left: 10px; 
     padding-right: 10px; 
     padding-top: 10px; 
     padding-bottom: 5px; 
     border-radius: 20px; 
  }
 
 